fastapi==0.111.0
uvicorn==0.29.0
streamlit==1.35.0
requests==2.32.3

# Compatible LangChain stack
langchain
langchain-core
langchain-community
langchain-groq

# Other tools
llama-parse==0.6.41
sentence-transformers==2.2.2
python-dotenv==1.0.1
